/*
Template: Stromi 
category: Business
Author: codedesigner
Version: 1.0
Design and Developed by: codedesigner
*/


/*
======================================
[ CSS TABLE CONTENT ]
======================================

    [Table of contents]

	1.feature boxes
	2.parallax sections
	3.footer styles

	
======================================
[ END CSS TABLE CONTENT ]
======================================
*/

/*============ Feature boxes ============ */

/*   feature-box01
 ------------------------------ */
.feature-box01 {
	width: 100%;
	text-align:center;
	padding:25px 25px;
}

.feature-box01 .iconbox {
	width: 135px;
	height: 135px;
	line-height: 138px;
	font-size: 36px;
	color: #323335;
	font-weight:900;
	text-align:center;
	padding: 0px;
	border:solid #fff 4px;
	margin: 0 auto;
	transition: all 0.5s ease;
}
.feature-box01 :hover.iconbox  {
	border-radius:100%;
	border:solid #1abc9c 4px;
}
.feature-box01 .iconbox.active {
	border-radius:100%;
	border:solid #1abc9c 4px;
}

/*   feature-box02
 ------------------------------ */
.feature-box02 {
	width: 100%;
	padding:10px 10px;
}
.feature-box02 .icon {
	font-size: 32px;
	transition: all 0.3s ease-out 0s;
}
/*------------------------------------*/
/* 		 price-plan area         */
/*----------------------*/


.single-table {
	border: 1px solid #e0e0e0;
	text-align:center;
	background-color:#fff;
}
.single-table h3 {
	font-size: 24px;
	color: #1a1a1a;
	border-bottom: 1px solid #e0e0e0;
	padding: 18px;
	line-height: 1;
	margin-top: 0;
	text-transform:none;
	margin-bottom: 0;
	transition: all .5s ease 0s;
}
.table-price {
	position: relative;
	border-bottom: 1px solid #e0e0e0;
	display: block;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	margin-bottom: 20px;
}
.table-price h5 {
	font-size: 47px;
	font-weight: 600;
	color: #1a1a1a;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 17px;
	padding-left: 30px;
	transition: all .5s ease 0s;
}
.table-price h5 span {
	position: absolute;
	font-size: 21px;
	top: 21%;
	left: 34%;
	font-weight: 600;
}
.table-price p {
	font-size: 14px;
	color: #999999;
	line-height: 1;
	margin-bottom: 22px;
	transition: all .5s ease 0s;
	margin-bottom: 20px;
}
.table-description p {
	font-size: 14px;
	color: #999999;
	margin-bottom: 0;
}
.table-description a {
	color: #1abc9c;
	transition: all .5s ease 0s;
}
.table-description button {
	width: 160px;
	height: 50px;
	border: 1px solid #e0e0e0;
	color: #1abc9c;
	border-radius: 4px;
	background: transparent;
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: 700;
	transition: all .5s ease 0s;
}
.table-description .title {
	width: 100%;
	color: #242424;
	padding: 0;
}
.table-description .features-list {
	width: 100%;
	padding: 0;
	margin: 0px;
	float: left;
}
.table-description .features-list li {
	width: 100%;
	padding: 10px 0;
	margin: 0px;
	float: left;
	color: #727272;
	border-bottom: 1px solid #e4e4e4;
}
.free h5 span {
	left: 39%;
}
.business h3 {
	color: #1abc9c;
}
.business-price {
	background: #1abc9c;
}
.business-price p {
	color: #fff;
}
.business button {
	background: #1abc9c;
	color: #fff;
	border: 0;
}
.business h5 {
	color: #fff;
}
.single-table:hover.single-table h3 {
	color: #1abc9c;
}
.single-table:hover .table-description button {
	background: #1abc9c;
	color: #fff;
	border: 0;
}
.single-table:hover .table-price h5 {
	color: #fff;
}
.single-table:hover .table-price p {
	color: #fff;
}
.single-table:hover .table-price {
	background: #1abc9c;
}
/*    blog sections
----------------------------- */
.blog-section1 {
	float: left;
	border:0;
	width: 100%;
	position: relative;
	-webkit-transition: all 500ms ease-in;
	-webkit-transform: scale(1); 
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1); 
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
	border:solid 15px #1abc9c;
	  
}
.blog-section1:hover {
    box-shadow: 0px 0px 72px rgba(0,0,0,0.75);
    z-index: 2;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);   
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.blog-section1:hover span {
	opacity: 0.36;
}
.blog-section1 span {
	position: absolute;
	left: 27px;
	bottom: 45px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	transition: all 0.4s ease;
}
.blog-section1 span strong {
	font-weight: 800;
}
.blog-section1 div {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	background: #fff;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 8px 20px 0px 20px;
	text-align: center;
	
	-webkit-transition: top 0.5s;
    transition: top 0.5s;
}
.blog-section1:hover div {
	top: -75px;
	opacity: 1;
	height: 75px;
}


.service-in .card {
    padding: 25px 25px;
    border: none;
    transition: none;
	transition: all .5s ease 0s;
    background: rgba(243, 244, 245, 0.17);
}
.service-in .card:hover,
.service-in .card.active {
    background: #f05315;
}
.service-in p.card-text {
    color: #fff;
    font-size:14px;
}
.service-in .card i {
    font-size:32px;
	padding-top:15px;
    color: #fff;
	padding-bottom:10px;
}
.service-in .card h5.card-title {
    color: #fff;
	font-weight:800;
}
/* feature-boxed-9
 ------------------------------ */

.feature-boxed-9 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 50px 50px;
	background-color:#fff;
}
.feature-boxed-9 em{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
}
.feature-boxed-9 i{
	color:#afafaf;
	padding-right:10px;
	font-size:16px;
	text-align:left;
}
.feature-boxed-9 li{
	color:#727272;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-top:6px;
	text-align:left;
}
.img-hover-text2 {
    position: relative;
	background: #323335;
}
.img-hover-text2 img {
	opacity: 1;
    display: block;
	transition: all 0.3s ease;
}
.img-hover-text2:hover img {
	opacity: 0.09;
}
.img-hover-text2 .distext {
    position: absolute;
	left: 16%;
    right: 16%;
	bottom: 0px;
    text-decoration: none;
	transition: all 0.3s ease;
}
.img-hover-text2:hover .distext {
	bottom: 22%;
}
.img-hover-text2 .distext .hidtext {
	opacity: 0;
	transition: all 0.3s ease;
}
.img-hover-text2:hover .distext .hidtext {
	opacity: 1;
}

@media screen and (max-width: 1024px) {	
.img-hover-text2 .distext {
	left: 5%;
    right: 5%;
}

}
/* ---------- Footer social links ---------- */
.footer-social-icons {
    width: 100%;
    padding: 0px;
	margin: 0px;
}
.footer-social-icons li {
    padding: 0px;
	margin: 0px;
	display: inline-block;
}
.footer-social-icons li a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    padding: 0px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}
.footer-social-icons.round li a {
	border-radius:100%;
}
.footer-social-icons li a:hover, .footer-social-icons li a.active {
    color: #999;
    background-color: #fff;
}
.background-image1 {
	background:#1abc9c url(../images/bg-image01.jpg) no-repeat left top;
	background-size: cover;
}
.background-image02 {
	padding: 0px;
	background: url(../images/slide-2.jpg) no-repeat center center;
	background-size: cover;
}
.background-image3 {
	background:#1abc9c url(../images/bg-img02.jpg) no-repeat left top;
	background-size: cover;
}
/* ---------- Footer quick links 4---------- */

.footer-quick-links-1 {
	width: 100%;
	padding: 0 0 0 0;
	margin: 0px;
}
.footer-quick-links-1 li {
	width:100%;
	padding:0px;
	margin:0;
	display: inline-block;
}
.footer-quick-links-1 li a {
	padding:3px 0;
	margin:0;
	color: #727272;
	float: left;
	display: inline-block;
}
.footer-quick-links-1 li a:hover {
	color: #fff;
}
.footer-quick-links-1 li a i {
	padding:0 10px 0 0;
}
.footer-quick-links-1.dark-hover li a:hover {
	color: #101010;
}
/*============ buttons ============ */

a.animated-button.thar-one {
	color: #1abc9c;
	text-align: center;
	padding: 10px 36px;
	border:solid 1px #1abc9c;
	border-radius: 30px;
	transition: all 0.5s ease;
}
a.animated-button.thar-one:hover {
	color: #fff;
	box-shadow: inset 270px 0px 0 0px #1abc9c;
}

a.animated-button.thar-two {
	color: #fff;
	position: relative;
	border:solid 1px #1abc9c;
	border-radius: 30px;
	padding: 10px 36px;
	transition: all 0.5s ease;
}
a.animated-button.thar-two:hover {
	color: #fff;
	box-shadow: inset 270px 0px 0 0px #1abc9c;
}
a.animated-button.thar-three {
	color: #fff;
	position: relative;
	border-radius: 30px;
	padding: 10px 36px;
	background-color:#1abc9c;
	transition: all 0.5s ease;
}
a.animated-button.thar-three:hover {
	color: #fff;
	box-shadow: inset 270px 0px 0 0px #1abc9c;
}

/*tags
 ------------------------------ */	
.tags {
	padding: 0px;
	margin: 0px;
}
.tags li {
	padding: 0px;
	margin: 0;
}
.tags li a {
	padding: 5px 15px 5px 15px;
	margin: 0 10px 10px 0;
	float: left;
	color: #727272;
	border:1px solid #e4e4e4;
	background-color: #fff;
}
.tags li a:hover, .tags li a.active {
	color: #fff;
	border:1px solid #34db92;
	background-color: #34db92;
}
/*copyright*/

.copyrights {
	width: 100%;
	font-size: 14px;
	color: #858585;
	margin: 0;
	float: left;
	padding: 26px 0;
	background-color: #000;
}

/*============ Page Scroll to Top ============ */

.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 9001;
}