/*
Template: Stromi
Author: codedesigner
Version: 1.0
Design and Developed by: codedesigner


*/

/*
===========  CSS TABLE CONTENT  ==============
    [Table of contents]

	1. General
		+ Text Colors
		+ Margins
		+ Paddings
		+ fonts
		
 */



/* =========== General ============= */


body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 23px;
	color: #4C4C4C;
}


body, .adv-img p, .caption-bottom p, .adv-circle .caption p, .advs-box p, .list-blog p {
  
}

/* a link Styles
 ------------------------------ */
 
a, .btn {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	color: #101010;
}
a {
	outline: medium none !important;
	color: #727272;
}
.uppercase {
	text-transform: uppercase;
}

/* Headungs
 ------------------------------ */
 
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	color: #020202;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 300;
}

h2 {
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 300;
}

h3 {
	font-size: 27px;
	line-height: 30px;
	margin-bottom: 18px;
	font-style: normal;
}

h4 {
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 18px;
	font-style: normal;
}
h5 {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 16px;
	font-style: normal;
}
h6 {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 14px;
	font-style: normal;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.h1, .h2, .h3, h1, h2, h3, h4 {
	margin-top: 0;
}
ul {
	list-style-type: none;
}
/* alignments */
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/*=============== Columns without padding ============= */
.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

/*=============== Columns without margin ============= */
.nomargin {
	margin:0px 0px;
}

/*=============== site main structure ============= */

.site-wrapper {
    width: 100%;
    margin: 0px auto;
    background-color: #FFF;

}
.wrapper-boxed {
    margin: auto;
    background-color: #FFF;
}
/*=============== Text Colors ============= */

.text-white {
	color: #fff;
}
.text-dark {
	color: #101010;
}
.text-light {
	color: #acacac;
}
.text-primary {
	color: #1abc9c !important;
}
.text-secondary {
	color: #1996e5 !important;
}
/* letter spacing
 ------------------------------ */
.lspace-sm{
	letter-spacing:5px;
}
.lspace-sm1{
	letter-spacing:1px;
}
.lspace-sm2{
	letter-spacing:2px;
}
.lspace-1{
	letter-spacing:10px;
}
.lspace-2{
	letter-spacing:20px;
}
.lspace-3{
	letter-spacing:30px;
}
.lspace-4{
	letter-spacing:40px;
}
.lspace-5{
	letter-spacing:50px;
}
	
/*=============== Margins ============= */

.margin-01 {
	margin: 10px 10px;
}
.margin-02 {
	margin: 20px 20px;
}
.margin-03 {
	margin: 30px 30px;
}
.margin-04 {
	margin: 40px 40px;
}
.margin-05 {
	margin: 50px 50px;
}

.tmargin-01 {
	margin-top: 10px ;
}
.tmargin-02 {
	margin-top: 20px ;
}
.tmargin-03 {
	margin-top: 30px ;
}
.tmargin-04 {
	margin-top: 40px ;
}
.tmargin-05 {
	margin-top: 50px ;
}

.bmargin-01 {
	margin-bottom: 10px ;
}
.bmargin-02 {
	margin-bottom: 20px ;
}
.bmargin-03 {
	margin-bottom: 30px ;
}
.bmargin-04 {
	margin-bottom: 40px ;
}
/*=============== padding ============= */
.padding-01 {
	padding: 10px 10px;
}
.padding-02 {
	padding: 20px 20px;
}
.padding-03 {
	padding: 30px 30px;
}
.padding-04 {
	padding: 40px 40px;
}
.padding-05 {
	padding: 50px 50px;
}

.tpadding-01 {
	padding-top: 10px ;
}
.tpadding-02 {
	padding-top: 20px ;
}
.tpadding-03 {
	padding-top: 30px ;
}
.tpadding-04 {
	padding-top: 40px ;
}
.tpadding-05 {
	padding-top: 50px ;
}
.tpadding-06 {
	padding-top: 60px ;
}
.tpadding-07 {
	padding-top: 70px ;
}
.tpadding-08 {
	padding-top: 80px ;
}
.tpadding-09 {
	padding-top: 90px ;
}
.tpadding-11 {
	padding-top: 110px ;
}
.tpadding-13 {
	padding-top: 130px ;
}
.tpadding-18 {
	padding-top: 180px ;
}
.lpadding-01 {
	padding-left: 10px ;
}
.lpadding-01 {
	padding-left: 10px ;
}
.rpadding-01 {
	padding-right: 10px ;
}
/*=============== font-weight ============= */
.font-weight_01 {
	font-weight:100;
}
.font-weight_02 {
	font-weight:200;
}
.font-weight_03 {
	font-weight:300;
}
.font-weight_04 {
	font-weight:400;
}
.font-weight_05 {
	font-weight:500;
}
.font-weight_06 {
	font-weight:600;
}
.font-weight_07 {
	font-weight:700;
}
.font-weight_08 {
	font-weight:800;
}
.font-weight_09 {
	font-weight:900;
}
.font-weight_10 {
	font-weight:1000;
}

/*=============== titel-line ============= */
.titel-line {
	width:42px;
	height:3px;
	border-radius:3px;
	margin:0px auto;
	text-align:center;
	background-color:#1abc9c;
}
/*=============== font-weight ============= */
.font-family{
	text-transform:none;
	
	font-family: 'Rubik', sans-serif;
}
.tp-caption.raleway{
	font-family: 'Raleway', sans-serif;
}
.tp-caption.roboto{
	font-family: 'roboto', sans-serif;
}
.tp-caption.dosis{
	font-family: 'Dosis', sans-serif;
}
/*=============== Paddings ============= */
 
.no-top-padding {
	padding-top: 0;
}

.padding {
	padding:50px 50px;
}
.padding-2 {
	padding:40px 40px;
}
.padding-3 {
	padding:30px 30px;
}
.padding-4 {
	padding:100px 100px;
}

/* Section Paddings
 ------------------------------ */
.sec-padding {
	padding: 90px 0;
}
.sec-more-padding-1 {
	padding: 120px 0;
}
.sec-more-padding-2 {
	padding: 150px 0;
}
.sec-bpadding-1 {
	padding-bottom: 40px;
}
.sec-bpadding-2 {
	padding-bottom: 80px;
}
.sec-tpadding-2 {
	padding-top: 80px;
}
.sec-tpadding-2.less-padding {
	padding-top: 20px;
}
.sec-padding_02 {
	padding: 40px 0;
}
.sec-paddingmore {
	padding: 140px 0 60px 0;
}
.sec-paddingmore-2 {
	padding: 140px 0;
}
.sec-paddingmore-3 {
	padding: 100px 0;
}
/* Section Paddings
 ------------------------------ */

.bg-white{
	 background-color:#fff;
}
.bg-light{
	 background-color:#f7f7f7;
}
.bg-light-2 {
	background-color: #f3f3f3;
}
.bg-dark{
	 background-color:#18191b;
}
.bg-primary{
	 background-color:#1abc9c;
 }
 
 /*============ Text Boxes ============ */
	
.text-box-right {
	display: block;
	padding: 0px 0px 0px 99px;
	margin: 0px;
	text-align: left;
}
.text-box-left {
	display: block;
	padding: 0px 90px 0px 0;
	margin: 0px;
	text-align: right;
}
.item-holder {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.text-box {
	width: 100%;
	float: left;
}
.text-box.white {
	background-color: #fff;
}
.text-box.gyellow {
	background-color: #1abc9c;
}
.text-box.primary {
	background-color: #1abc9c;
}

/*============ box shadows ============ */
.box-shadow-1 {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.box-shadow-2 {
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.16);
}


/*============ hover shadows ============ */
.hover-shadow-1 {
	transition: all 0.3s ease;
}
.hover-shadow-1:hover {
	box-shadow: 0 20px 20px rgba(0,0,0,0.13);
	-webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.13);
	transition: all 0.3s ease-out 0s;
}
.hover-shadow-1.active {
	box-shadow: 0 20px 20px rgba(0,0,0,0.13);
	-webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.13);
	transition: all 0.3s ease-out 0s;
}
/*============ image hover zoom============ */
.imghoverzoom {
	position:relative;
}
.imghoverzoom .textbox {
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	background-color: rgba(29,32,37,0.9);
	opacity: 0;
}
.imghoverzoom:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.imghoverzoom .textbox {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.imghboxtext {
	position:relative;
}
.imghboxtext .textbox {
	width: 0%;
	height: 70%;
	padding-left: 8%;
	position:absolute;
	top: 100px;
	left: 90px;
	background-color: rgba(29,32,37,0.9);
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.imghboxtext:hover .textbox {
	width: 50%;
	opacity: 1;
}
.imghboxtext a.go {
	position: absolute;
	left: 0;
	top: 332px;
	color: #fff;
	padding: 10px;
}
.imghboxtext a.go:hover {
	left: 5px;
}

/*============  icon sizes  ============ */


.iconsize, i.iconsize {
	font-size: 5px;
}
.iconsize1, i.iconsize1 {
	font-size: 16px;
}
.iconsize2, i.iconsize2 {
	font-size: 20px;
}
.iconsize3, i.iconsize3 {
	font-size: 25px;
}
.iconsize4, i.iconsize4 {
	font-size: 30px;
}
.iconsize5, i.iconsize5 {
	font-size: 40px;
}
/*============ border ============ */
.border {
	border:#0dd29d solid 24px;
}
.border_02{
	border:#000 solid 14px;
	
}
.bgcolor-light-opacity {
	background-color: rgba(255,255,255,0.1);
}
.bgcolor-light-opacity2 {
	background-color: rgba(255,255,255,0.2);
}
.bgcolor-light-opacity3 {
	background-color: rgba(255,255,255,0.3);
}
.bgcolor-light-opacity4 {
	background-color: rgba(255,255,255,0.4);
}
.bgcolor-light-opacity5 {
	background-color: rgba(255,255,255,0.5);
}
.bgcolor-light-opacity6 {
	background-color: rgba(255,255,255,0.6);
}
.bgcolor-light-opacity7 {
	background-color: rgba(255,255,255,0.7);
}
.bgcolor-light-opacity8 {
	background-color: rgba(255,255,255,0.8);
}
.bgcolor-light-opacity9 {
	background-color: rgba(255,255,255,0.9);
}
.padding-percent {
	padding: 5%;
}
.padding-percent1 {
	padding: 7%;
}
.padding-percent2 {
	padding: 10%;
}
.padding-percent3 {
	padding: 12%;
}
.padding-percent4 {
	padding: 14%;
}
.padding-percent5 {
	padding: 16%;
}
.padding-percent6 {
	padding: 18%;
}
.line-height-2{
	line-height:25px;
}
.line-height-3{
	line-height:27px;
}
.line-height-4{
	line-height:30px;
}
.line-height-5{
	line-height:35px;
}
.line-height-6{
	line-height:40px;
}
.line-height-7{
	line-height:46px;
}
.line-height-8{
	line-height:96px;
}
/*============  less width ============ */

.less1 {
	width: 75%;
	margin: 0 auto;
}
.less2 {
	width: 50%;
	margin: 0 auto;
}
.less3 {
	width: 54%;
	margin: 0 auto;
}
.less4 {
	width: 35%;
	margin: 0 auto;
}
.less5 {
	width: 85%;
	margin: 0 auto;
}
.less6 {
	width: 70%;
	margin: 0 auto;
}
.less7 {
	width: 77%;
	margin: 0 auto;
}
.less8 {
	width: 67%;
	margin: 0 auto;
}
/*============ button ============ */
.but_01 {
	color: #1abc9c;
	border: 2px solid #1abc9c;
	padding: 14px 36px;
	border-radius: 3px;
	text-align: center;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.but_01:hover {
	color: #fff;
	background: #1abc9c;
}
.but_02 {
	color: #fff;
	border: 2px solid #fff;
	padding: 14px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.but_02:hover {
	color: #1abc9c;
	background: #fff;
}
.but_03 {
	color: #fff;
	text-align: center;
	padding: 14px 36px;
	font-weight: bold;
	background: #1abc9c;
	border-radius: 30px;
	transition: all 0.4s ease;
}
.but_03:hover {
	color: #fff;
	box-shadow: inset 400px 0px 0 0px #1abc9c;
}
.but_04 {
	color: #fff;
	background: #1abc9c;
	padding: 14px 27px;
	border-radius: 3px;
	text-align: center;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.but_04:hover {
	color: #fff;
	box-shadow: inset 200px 0px 0 0px #1abc9c;
}
.parallax1 {
	padding: 100px 0 90px 0;
	background: #333 url(../images/bg-img01.jpg) 50% 0 no-repeat fixed;
}

.img-hover-text_1 {
    position: relative;
	background: #303030;
}
.img-hover-text_1 img {
    display: block;
	transition: all 0.3s ease;
}
.img-hover-text_1 img:hover {
	opacity: 1;
}
.img-hover-text_1 .distext {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	bottom: 0px;
	padding: 14% 5% 5% 5%;
    background: #000;
    text-decoration: none;
    text-align: center;
	transition: all 0.3s ease;
	transform: scale(0.85);
}
.img-hover-text_1:hover .distext {
    opacity: 0.9;
	transform: scale(0.93);
}

 #team {
	background: #f2f2f2
}
.team-item:hover {
	box-shadow: 0 25px 35px -12px rgba(0,0,0,.35)
}
.team-item {
	margin: 15px 0;
	border-radius: 4px;
	box-shadow: 0 25px 35px -20px rgba(0,0,0,.35);
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}
.team-item .team-img {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border-radius: 4px
}
.team-item .team-overlay {
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,.85);
	opacity: 0;
	width: 100%;
	border-radius: 8px;
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}
.team-item .overlay-social-icon {
	color: #fff;
	top: 45%;
	position: absolute;
	display: table-cell;
	margin: 0 auto;
	width: 100%
}
.team-item .overlay-social-icon .social-icons {
	padding-left: 0;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	transform: translateY(-30px);
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}
.team-item .overlay-social-icon .social-icons li {
	display: inline-block;
	margin: 0 4px
}
.team-item .overlay-social-icon .social-icons li a {
	letter-spacing: 0;
	outline: 0!important
}
.team-item .overlay-social-icon .social-icons li a i {
	font-size: 20px;
	color: #fff;
	width: 36px;
	height: 36px;
	background: #e92763;
	display: block;
	border-radius: 4px;
	line-height: 36px;
	transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-webkit-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s
}
.team-item .overlay-social-icon .social-icons li a:hover .lni-facebook-filled {
	background: #3b5998
}
.team-item .overlay-social-icon .social-icons li a:hover .lni-twitter-filled {
	background: #00aced
}
.team-item .overlay-social-icon .social-icons li a:hover .lni-instagram-filled {
	background: #fb3958
}
.team-item .info-text {
	padding: 15px 20px;
	background: #fff
}
.team-item .info-text h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px
}
.team-item .info-text h3 a {
	color: #333
}
.team-item .info-text h3 a:hover {
	color: #e91e63
}
.team-item .info-text p {
	margin: 0;
	color: #888
}
.team-item:hover .team-overlay {
	opacity: 1
}
.team-item:hover .social-icons {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px)
}
/* responsive image */
.img-responsive {
	max-width:100%;
	height:auto;
}
.img-responsive-1 {
	max-width:75%;
	height:auto;
}
.img-responsive-2 {
	max-width:50%;
	height:auto;
}
.img-responsive-3 {
	max-width:25%;
	height:auto;
}
.img-responsive-4 {
	max-width:12.5%;
	height:auto;
}
 /* footer section
 ------------------------------ */ 
 .fo-map {
	width: 100%;
	float:left;
	background:url(../images/fo-map.png) left 100px no-repeat;
}
 .fo-map {
	background-size:100%;
}