.snow-container {
  position: absolute;
  height:800px;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index:9;
  pointer-events: none;

}
.snow-container.two {
    height: 440px;
}
.snow {
  display: block;
  position: absolute;
  z-index:99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("../../../dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: url(../../../dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: url(../../../dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@media (max-width:1440px){
    .snow-container {
        position: absolute;
        height: 715px;
    }
}
@media (max-width: 1366px){
    .snow-container {
        position: absolute;
        height: 668px;
    }
	
}
@media (max-width:1280px){
    .snow-container {
        position: absolute;
        height: 640px;
    }
}
@media (max-width:1080px){
	.snow-container {
		position: absolute;
		height: 498px;
	}
}
@media (max-width:1024px){
    .snow-container {
            position: absolute;
            height: 510px;
        }
}
@media (max-width:991px){
	.snow-container.two {
		height: 365px;
	}

}
@media (max-width:800px){

	.snow-container {
		position: absolute;
		height: 375px;
	}
}
@media (max-width:768px){
	.snow-container {
		position: absolute;
		height: 373px;
	}
}
@media (max-width:568px){
	.snow-container {
        position: absolute;
        height: 254px;
    }
}
@media (max-width: 480px){
	
}
@media (max-width: 414px){
    .snow-container {
        position: absolute;
        height: 254px;
    }
}
@media (max-width: 384px){
    .snow-container {
        position: absolute;
        height: 254px;
    }
}
@media (max-width:375px){
    .snow-container {
        position: absolute;
        height: 256px;
    }
}
@media (max-width:320px){
    .snow-container {
        position: absolute;
        height: 276px;
    }
}