
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

	.coming-soon p { padding: 0; }
	.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper { width: 150px; }

}

@media (max-width: 767px) {
	
	.coming-soon p { padding: 0; }
	.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper { width: 150px; }
	.timer .slash { display: none; }
	
	.footer-copyright p, .footer-social { text-align: center; }
	.footer-copyright { padding-bottom: 15px; }

}

@media (max-width: 550px) {

    .subscribe form input { width: 95%; }
    .subscribe form button { width: 95%; margin-top: 10px; }

}

@media (max-width: 400px) {
	
	h1, h2 { font-size: 32px; }

}



/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
	
	/* logo */
    .coming-soon .logo a {
    	background-image: url(../img/logo%402x.png) !important; background-repeat: no-repeat !important; background-size: 150px 54px !important;
    }
    .coming-soon .logo a:hover {
    	background-image: url(../img/logo-hover%402x.png) !important; background-repeat: no-repeat !important; background-size: 150px 54px !important;
    }
    .coming-soon .logo a:before {
    	content: url(../img/logo-hover%402x.png);
    }
    
    /* social icons */
    .social-icon.facebook {
    	background-image: url(../img/social-icons/facebook%402x.png) !important; background-repeat: no-repeat !important; background-size: 48px 48px !important;
    }
    .social-icon.twitter {
    	background-image: url(../img/social-icons/twitter%402x.png) !important; background-repeat: no-repeat !important; background-size: 48px 48px !important;
    }
    .social-icon.dribbble {
    	background-image: url(../img/social-icons/dribbble%402x.png) !important; background-repeat: no-repeat !important; background-size: 48px 48px !important;
    }
    .social-icon.google-plus {
    	background-image: url(../img/social-icons/google-plus%402x.png) !important; background-repeat: no-repeat !important; background-size: 48px 48px !important;
    }
	
}

